.write{
    padding-top: 50px;
}

.writeImg{

    margin-left: 150px;
    width: 70vw;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.writeForm{

    position: relative;
}

.writeformGroup{

    margin-left: 150px;
    display: flex  ;
    align-items: center;
}

.writeIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    display: flex  ;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgb(153, 153, 158);
    cursor: pointer;
    
}
    
.writeInput{
    font-size: 20px;
    border: none;
     padding: 20px;
     width: 65vw;


}

.writeText{
    font-size: 20px;
    border: none;
    height: 100vh;
    padding: 20px;
    width: 100%;
    margin-right: 250px;
    margin-bottom: 40px;

}

.writeSubmit{
    position: absolute;
    top:20px;
    right: 50px;
    border: none;
    background-color: teal;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;

}

